#box{
    margin: 50px;
    align-items: center;
    width: 200px;
    height: 200px;
    background: rgb(124, 36, 36);
    border-radius:16px;
    border:  5px solid rgb(12, 11, 11);

}
body {
    background-color: #e8bebe;
}
button{
    border-radius: 10px;
    height: 30px;
}